* {
	margin: 0%;
	padding: 0;
	/* font-family: ; */
}

@font-face {
	font-family: "Clear Sans";
	font-style: normal;
	font-weight: 400;
	src: url("https://github.com/intel/clear-sans/blob/main/EOT/ClearSans-Regular.eot"); /* IE9 Compat Modes */
	src: local("Clear Sans"), local("Clear-Sans"),
		url("./fonts/ClearSans-Regular.eot#iefix") format("embedded-opentype"),
		/* Super Modern Browsers*/ url("./fonts/ClearSans-Regular.woff") format("woff"),
		/* * Modern Browsers */ url("./fonts/ClearSans-Regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("./fonts/ClearSans-Regular.svg#ClearSans") format("svg"); /*Legacy iOS */
}

.navbar {
	background-color: rgb(6, 20, 80);
}
.navbar a {
	float: left;
	padding: 10px;
	color: rgb(255, 248, 248);
	text-decoration: none;
	font-size: 17px;
	width: 21%; /* Four links of equal widths */
	text-align: center;
	margin: auto;
}
header ul {
	position: relative;
	display: flex;
}
header ul li {
	list-style: none;
	margin: 0 20px;
}
header ul li a {
	position: relative;
	text-decoration: none;
	font-size: 18px;
	padding: 4px 10px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.row {
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 20px;
}
.elf {
	width: 100%;
}
.row img {
	height: 400px;
	width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.footerr {
	background-color: rgb(6, 20, 80);
	color: white;
	text-align: center;
}

footer .name {
	color: white;
}

nav .image {
	justify-content: left;
}
